<div class="dashboard is-full-height">
  <!-- left panel -->
  <div class="dashboard-panel is-medium has-thick-padding has-background-grey-lighter is-hidden-mobile">
    <header class="dashboard-panel-header">
      <span class="close-nav">X</span>
      <span class="has-text-centered">        
        The Dx Diary
      </span>
    </header>

    <div class="dashboard-panel-content">
      <aside class="menu has-text-white">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a>Dashboard</a></li>
          <li><a>Analysis</a></li>
          <li><a>Alerts</a></li>
        </ul>
        <p class="menu-label">
          Add Entry
        </p>
        <ul class="menu-list">
          <li><a>Augmentation</a></li>          
          <li><a>Benchmarks</a></li>          
          <li><a>Dialysis</a></li>
          <li><a>Diet</a></li>
          <li><a>Exercize</a></li>
          <li><a>Medication</a></li>
          <li><a>Observations</a></li>
          <li><a>Pathology</a></li>
          <li><a>Strength Work</a></li>
        </ul>
        <p class="menu-label">
          History
        </p>
        <ul class="menu-list">
          <li><a>Timeline</a></li>          
          <li><a>Last Week</a></li>          
          <li><a>Last Month</a></li>
          <li><a>Last 3 Months</a></li>
          <li><a>Search</a></li>
        </ul>
      </aside>
    </div>
  </div>

  <!-- main section -->
  <div class="dashboard-main is-scrollable">
    <nav class="navbar is-fixed-top">
      <div class="navbar-brand">
        <span class="navbar-item">
          User Menu
        </span>
      </div>
    </nav>

    <section class="section">
      <p class="title">
        Main
      </p>
    </section>

    <!-- the footer will take up all unused space at the bottom -->
    <footer class="footer">
      I'm a foot
    </footer>
  </div>

  <!-- right panel -->
  <div class="dashboard-panel is-small">
    Hello
  </div>