.two-column-form {
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
    padding: 20px;
    .field-name {
        font-size: 12px;
        font-family: 'Biko';
        text-transform: uppercase;
        color:#18272D;
    }
    .columns:nth-child(even) {
        background-color: rgba(255,255,255,0.9);
    } 
    input[type="datetime-local"] {
        display: -webkit-inline-flex;
        font-family: monospace;
        overflow: hidden;
        padding: 5px;
        font-size: 12px;
        font-family: "Biko";
        text-transform: uppercase;
        border-radius: 10px;
        width: 100%;
        text-align: right;
        border-color: #BD9589;
        border-style: inset;
   }
   input[type="time"] {
    display: -webkit-inline-flex;
    font-family: monospace;
    overflow: hidden;
    padding: 5px;
    font-size: 12px;
    font-family: "Biko";
    text-transform: uppercase;
    border-radius: 10px;
    text-align: right;
    width: 100%;
    border-color: #BD9589;    
    }
    .button-column {
        text-align: right;
    }
    .textarea {
      background-color: #FFF !important;
    }
}

 
::ng-deep {
    .custom-slider .ngx-slider .ngx-slider-bar {
      background: #C59388;
      height: 2px;
    }
    .custom-slider .ngx-slider .ngx-slider-selection {
      background: #18272D;
    }
  
    .custom-slider .ngx-slider .ngx-slider-pointer {
      width: 12px;
      height: 12px;
      top: auto; /* to remove the default positioning */
      bottom: -2px;
      &.ngx-slider-pointer-max {
        background-color: #18272D;
      }
      &.ngx-slider-pointer-min {        
      background-color: #AB4032;
      }
    }
  
    .custom-slider .ngx-slider .ngx-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ngx-slider .ngx-slider-bubble {
      bottom: 14px;
      border-radius: 10px;
      color: white;
      padding: 4px;
      
      text-align: center;
      &.ngx-slider-combined {
        background-color: #C59388;      
      }
      &.ngx-slider-model-value {
        background-color: #AB4032;   
        width: 45px;     
      }
      &.ngx-slider-model-high {
        background-color: #18272D;
        width: 45px;        
      }
      &.ngx-slider-limit {
        color: #C59388;
      }
      
    }
  
    .custom-slider .ngx-slider .ngx-slider-limit {
      font-weight: bold;
      color: #18272D;
    }
  
    .custom-slider .ngx-slider .ngx-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffe4d1;
      top: -1px;
    }
  
    .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
      background: orange;
    }
  }