<form [formGroup]="dialysisForm">
    
<div class="two-column-form">
 
      <div class="columns">
        <div class="column field-name">
            <div class="status is-size-5 has-text-success is-uppercase is-family-secondary" *ngIf="!sessionStarted">
                New Session
            </div>
            <div class="status" *ngIf="sessionStarted">
                Session In Progress
            </div>
        </div>
        <div class="column has-text-right" *ngIf="!sessionStarted">
            <div class="select is-rounded is-primary">
                <select  #selectRegime (change)="setRegime(selectRegime.value)">
                  <option *ngFor="let regimeOption of regimes" [value]="regimeOption.regimeId" [selected]="regimeOption.regimeId==regime.regimeId">{{regimeOption.regimeName}}</option>
                </select>
              </div>
        </div>
        <div class="column button-column" *ngIf="sessionStarted">
            <button class="button is-info is-rounded" (click)="restartSession()">
                <span class="icon is-small">
                    <i class="icofont-edit-alt"></i>
                </span>
            </button>
        </div>        
    </div>   
    <div class="columns">
        <div class="column field-name">
            Start Date and Time
        </div>
        <div class="column" *ngIf="!sessionStarted">
            <input type="datetime-local"  formControlName="sessionDate" class="rounded" />
        </div>
        <div class="column" *ngIf="sessionStarted">
            {{session.date + 'Z' | date:'EEEE, MMMM d, y @ h:mm a'}}
        </div>
    </div>   
 
    <div class="columns">
        <div class="column field-name">
            Duration
        </div>
        <div class="column" *ngIf="!sessionStarted">
            <div class="custom-slider">
                <ngx-slider [(value)]="duration" [options]="durationOptions"></ngx-slider>
            </div>
        </div>
        <div class="column" *ngIf="sessionStarted">
            {{session.duration_hours}} hours
        </div>
    </div>
    <div class="columns">
        <div class="column field-name">
            UF Volume
        </div>
        <div class="column" *ngIf="!sessionStarted">
            <div class="custom-slider" >
                <ngx-slider [(value)]="ufVolume" [options]="ufOptions"></ngx-slider>
            </div>
        </div>
        <div class="column" *ngIf="sessionStarted">
            {{session.uf_litres}} Ltrs
        </div>
    </div>
    <div class="columns">
        <div class="column field-name">
            Flow Rates (Blood and Dialysate)
        </div>
        <div class="column" *ngIf="!sessionStarted">
            <div class="custom-slider" >
                <ngx-slider [(value)]="bloodFlowRate" [(highValue)]="fluidFlowRate" [options]="flowRateOptions"></ngx-slider>
            </div>
        </div>
        <div class="column" *ngIf="sessionStarted">
            Qb: {{session.qb}} mls/min, Qf: {{session.qf}} mls/min 
        </div>
    </div>    
    <div class="columns">
        <div class="column field-name">
            Dialysate Temperature (Celsius)
        </div>
        <div class="column" *ngIf="!sessionStarted">
            <div class="custom-slider" >
                <ngx-slider [(value)]="temperature" [options]="temperatureOptions"></ngx-slider>
            </div>
        </div>
        <div class="column" *ngIf="sessionStarted">
           {{session.temp}} degrees celsius 
        </div>
    </div>
    <!-- Pre Observation -->
    <div class="columns" *ngIf="hasSavedPreObservation && session.preObservation !== undefined">
        <div class="column field-name">
            Weight (before session)
        </div>
        <div class="column">
            {{session.preObservation.weight}} kg          
         </div>
    </div>
    <div class="columns" *ngIf="hasSavedPreObservation && session.preObservation != undefined">
        <div class="column field-name">
            Blood pressure (before session)
        </div>
        <div class="column">
            {{session.preObservation.systolic}} / {{session.preObservation.diastolic}}  
        </div>      
    </div>
    <div class="columns" *ngIf="hasSavedPreObservation && session.preObservation != undefined">
        <div class="column field-name">
            Pulse (before session)
        </div>        
        <div class="column">
            {{session.preObservation.pulse}}  
         </div>
    </div>
    <div class="columns" *ngIf="hasSavedPreObservation && session.preObservation != undefined">
        <div class="column field-name">
            Oxygen saturation: (before session)
        </div>   
        <div class="column">
            {{session.preObservation.oxygenSaturation}}%  
         </div>
    </div>
    <div *ngIf="hasSavedPreObservation == false">
        {{hasSavedPreObservation}}  
        <app-observation-form  (savedObservation)="setPreObservation($event)"></app-observation-form>
    </div>
    <!-- end pre observation -->
    <div class="columns" *ngIf="sessionStarted">
        <div class="column field-name">
            Actual End Time
        </div>
        <div class="column" >
            <input type="time" formControlName="endTime" class="rounded" />
        </div>
    </div>
    <div class="columns" *ngIf="sessionStarted">
        <div class="column field-name">
            Venous / Arterial Pressures
        </div>
        <div class="column">
            <div class="custom-slider">
                <ngx-slider [(value)]="venousPressure" [(highValue)]="arterialPressure" [options]="options"></ngx-slider>
            </div>
        </div>
    </div>
    <div class="columns" *ngIf="sessionStarted">
        <div class="column field-name">
            Trans membrane Pressure
        </div>
        <div class="column">
            <div class="custom-slider">
                <ngx-slider [(value)]="transMembranePressure" [options]="tmpOptions"></ngx-slider>
            </div>
        </div>
    </div>
    <app-observation-form *ngIf="sessionStarted" (savedObservation)="setPostObservation($event)"></app-observation-form>
    <div class="columns" *ngIf="sessionStarted">
        <div class="column field-name">
            Notes
        </div>
        <div class="column">
                <textarea formControlName="notes"  class="is-primary textarea" placeholder="e.g. Hello world"></textarea>            
        </div>
    </div>
    <div class="columns">
        <div class="column button-column is-pulled-right is-full" *ngIf="!sessionStarted">
            <button (click)="saveSession()" class="button is-primary is-rounded">Start Session</button>
        </div>
        <div class="column button-column is-pulled-right is-full" *ngIf="sessionStarted">
            <button class="button is-primary is-rounded">Conclude Session</button>
        </div>
    </div>
</div>
</form>